settings.json
node_modules/
build/
plugin_packages/
temp-verify-extract/
temp_*/
tmp_*/
dev/
dev-app-update.yml
.clinerules
.DS_Store
*.bak
*.tmp
*.swp
assets/winapp.asar*
assets/osxapp.asar
assets/extracted-winapp-dev
assets/extracted-winapp-public
assets/2.0.3
assets/3.0.0
src/data
data/*
data/ajc_accounts.txt
data/collected_usernames.txt
data/found_accounts.txt
data/potential_accounts.txt
data/processed_usernames.txt
data/working_accounts.txt
Breakdown-of-commits.md
pack-and-run.js
memory-bank/
