settings.json
node_modules/
build/*
temp_*/
tmp_*/
dev-app-update.yml
.DS_Store
*.bak
*.tmp
*.swp
build/*
dev
assets/flash/backups/*
UsernameLogger
.claude
.cursor
CLAUDE.md
data/*
api-port.txt
plugin_packages/
assets/extracted-winapp-public/